Options -Indexes
RewriteEngine On
RewriteRule ^assets/(.*)$ public/assets/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ public/index.php [L]

<FilesMatch "^(\.env|composer\.(json|lock)|README\.md)$">
    Require all denied
</FilesMatch>
